## 1. Import the libraries:

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## 2. Load the dataset:

In [5]:
data = pd.read_csv("Queries.csv")
data.head(2)

                   Top queries  Clicks  Impressions     CTR  Position
0  number guessing game python    5223        14578  35.83%      1.61
1          thecleverprogrammer    2809         3456  81.28%      1.02

## 3. Exploaratory Data Analysis: